
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<div class="logo-image">
						<img src="./img/main/logo.png" alt="">
					</div>
					<div class="logo-title-wrap">
						<div class="logo-title">Кофе PRO</div>
						<div class="logo-subtitle">ваш идеальный кофе</div>
					</div>
				</a>
			</div>
		</div>
		<div class="info-inner-wrap">
			<p>Москва, м. Тульская, ТЦ Ереван Плаза</p>
		</div>
		<div class="contacts-inner-wrap">
			<a href="tel:84953242321" class="btn button-link">+7 495 324 23 21</a>
			<a href="" class="btn button-link">
				<div class="button-ico">
					<img src="./img/icons/wa.png" alt="">
				</div>
			</a>
			<a href="" class="btn button-link">
				<div class="button-ico">
					<img src="./img/icons/tg.png" alt="">
				</div>
			</a>
		</div>
	</div>
</footer>
<!-- /footer -->